In [52]:
import streamlit as st
import pandas as pd
import pymysql.cursors
import numpy as np
from datetime import datetime
from datetime import time

conn = pymysql.connect(host='127.0.0.1',
                         user='root',
                         password='root',
                         database='node_test',
                         )
cursor = conn.cursor()
#cursor.execute("SELECT value,created_at FROM node_test.node")
#data = cursor.fetchall()
#df = pd.DataFrame(data, columns=['value',
#                                 'created_at']

#                  )
#df['created_at'] = df['created_at'].dt.strftime('%d-%m-%Y %h:%m:%s')
#df = df.set_index('created_at')

In [53]:
cursor.execute("SELECT max(created_at) FROM node_test.node")
max_date = cursor.fetchall()

In [ ]:
cursor.execute("SELECT min(created_at) FROM node_test.node")
min_date = cursor.fetchall()

In [56]:
max_date[0][0]

datetime.datetime(2023, 3, 28, 22, 4, 19)

In [37]:
df

         value           created_at
0     0.048343  2023-03-28 20:32:50
1     0.517451  2023-03-28 20:32:51
2     0.865741  2023-03-28 20:32:52
3     0.926398  2023-03-28 20:32:53
4     0.960988  2023-03-28 20:32:54
...        ...                  ...
2205  0.474191  2023-03-28 21:09:55
2206  0.450305  2023-03-28 21:09:56
2207  0.590713  2023-03-28 21:09:57
2208  0.260437  2023-03-28 21:09:58
2209  0.016093  2023-03-28 21:09:59

[2210 rows x 2 columns]

In [44]:
df['created_at']= pd.to_datetime(df['created_at'])

In [45]:
df['created_at'].iloc[0].to_pydatetime()
#dt_object = datetime.fromtimestamp(timestamp)

datetime.datetime(2023, 3, 28, 20, 32, 50)

In [39]:
df.dtypes

value                float64
created_at    datetime64[ns]
dtype: object

In [49]:
df['created_at'].max()

'2023-03-28 21:18:13'

In [50]:
df['created_at'].min()

'2023-03-28 20:32:50'

In [21]:
df['created_at'].iloc[0]

'2023-03-28 20:32:50'

In [ ]:

#st.line_chart(chart_data)
#datas = df[['value', 'created_at']] # Also include the "date" column
#st.line_chart(datas)


appointment = st.slider(
    "Schedule your appointment:",
    value=(df['created_at'].iloc[0]
           #,df['created_at'].iloc[len(df)] ),
   
    )
)

In [2]:
import streamlit as st
import pandas as pd
import pymysql.cursors
import numpy as np
from datetime import datetime
from datetime import time

conn = pymysql.connect(host='127.0.0.1',
                         user='root',
                         password='root',
                         database='node_test',
                         )

cursor = conn.cursor()
tableName='node'

cursor.execute("SELECT value,created_at FROM node_test.node")
data = cursor.fetchall()
df = pd.DataFrame(data, columns=['value',
                                 'created_at']

                  )

In [3]:
df

         value          created_at
0     0.048343 2023-03-28 20:32:50
1     0.517451 2023-03-28 20:32:51
2     0.865741 2023-03-28 20:32:52
3     0.926398 2023-03-28 20:32:53
4     0.960988 2023-03-28 20:32:54
...        ...                 ...
6745  0.515262 2023-03-28 22:26:18
6746  0.106268 2023-03-28 22:26:19
6747  0.158515 2023-03-28 22:26:20
6748  0.714182 2023-03-28 22:26:21
6749  0.091523 2023-03-28 22:26:22

[6750 rows x 2 columns]

In [8]:

batata = df[df['created_at']>='2023-03-28 22:25' or df['created_at']<='2023-03-28 22:33']

In [9]:
batata

         value          created_at
6668  0.119940 2023-03-28 22:25:00
6669  0.879240 2023-03-28 22:25:01
6670  0.178565 2023-03-28 22:25:02
6671  0.975046 2023-03-28 22:25:03
6672  0.696378 2023-03-28 22:25:04
...        ...                 ...
6745  0.515262 2023-03-28 22:26:18
6746  0.106268 2023-03-28 22:26:19
6747  0.158515 2023-03-28 22:26:20
6748  0.714182 2023-03-28 22:26:21
6749  0.091523 2023-03-28 22:26:22

[82 rows x 2 columns]

In [3]:
import pandas as pd
import pymysql.cursors
import numpy as np
import plotly.express as px 
from datetime import datetime
from datetime import time


conn = pymysql.connect(host='192.168.18.27',
                       user='piuser',
                       password='piuser',
                       database='pi2')

tableName = 'compressor_measurements'

cursor = conn.cursor()
cursor.execute("SELECT moment, voltage, current, power_W, energy_WH, power_factor_measured, power_factor_calc, phase_angle_measured, phase_angle_calc FROM pi2." + tableName)
data = cursor.fetchall()
df = pd.DataFrame(data, columns=['moment', 'voltage', 'current', 'power_W', 'energy_WH', 'power_factor_measured', 'power_factor_calc', 'phase_angle_measured', 'phase_angle_calc'])

ModuleNotFoundError: No module named 'pymysql'